.lineItemContainer {
    display: flex;
    align-items: right;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .lineItemContainer h3 {
    margin: 0;
  }
  
  .lineItemContainer p {
    margin: 0;
  }
  